
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.contact {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.contact-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.address {
    width: 65%;
    margin-top: 30px;
}

.contact-icons{
    margin-right: 7px;

}

.contact-subtitle {
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #585858; 
    text-underline-offset: 0.3em; 
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.address-info, .map-info {
    width: 50%;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.map-iframe {
    width: 500px;
    height: 240px;
    border: none;
    border-radius: 5px;
}

.mailto{
    color: #000;
}

.hours-list-parent {
    display: flex;
}

.hours-list1{
    width: 230px;
    list-style-type: none; 
    text-align: left;
    padding: 0px 20px 0px 0px;
}

.hours-list2 {
    width: 230px;
    list-style-type: none; 
    padding: 32px 20px;
    text-align: left;
}

.hours {
    padding: 10px 0; 
    border-bottom: 1px solid #ddd; 
    font-size: 13px;
    justify-content: space-between;
}

.hours-title{    
    font-size: 1em;
}

/* Formulari de contacte */

.contact-form {
    background-color: #FFDDD2;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 32px;
    padding: 15px;
    border-radius: 5px;
}

.contact-label {
    font-size: 1em;
    margin-bottom: 5px;
}

.contact-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.btn-contact {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    background-color: #333;

}

.btn-contact:hover {
    background-color: #0056b3;
}

.line-separator {
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 21.6vw;
}

.contact-form h2 {
    margin-top: -2px;
    margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}