/* roba.html */
    /* grid roba*/
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
        background-color: #e1dedca9;
        margin: 5px;
        border-radius: 20px;

    }
   .grid-item:hover{
        background-color: #f3f3f3;
        transition-duration: .3s;
   }
    .grid-item img {
        max-width: 100%;
        max-height: 90%;
        height: 280px;
        width: auto;
        border-radius: 10px;
    }
    .card-image{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .descripccion-img{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* boton comprar */
    .button-buy {
    width: 180px;
    height: 30px;
    background-image: linear-gradient(#E3D5CA, #D5BDAF);
    border: none;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 0px #D5BDAF;
    transition-duration: .3s;
    }
    
    .cartIcon {
    width: 14px;
    height: fit-content;
    }
    
    .cartIcon path {
    fill: #9b887f;
    }
    .button-buy:active {
    transform: translate(2px ,0px);
    box-shadow: 0px 1px 0px #D5BDAF;
    padding-bottom: 1px;
    }
    
    