@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */

.header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

body {
    background-color: #edede9;
    margin: 0;
    padding: 0;
}

/* Navigation */

.navigation {
    background-color: #d5bdaf;
    color: #333;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center; 
    overflow: hidden;
}

.account-icon {
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #333;
    color: #fff;
}

.account-icon:hover {
    color: #fff;
    background-color: #575757;
}

nav ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.btn-navbar {
    display: inline;
    margin: 0px 10px;
    background-color: #FFDDD2;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    justify-content: center;
    align-items: center;
} 

.link-navbar {
    text-decoration: none;
    color: #333;
}

.logo-navbar {
    display: inline-flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    margin-right: 20px;
}

.logo-navbar img {
    width: auto; 
    height: 50px; 
}

.search-bar {
    display: flex;
    margin-top: 4px;
    height: 38px;
}

.search-input{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-icon {
    color: #fff;    
}

.btn-search {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #333;
}

.btn-search:hover {
    background-color: #9a9a9a;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Home pàgina */

.home {
    background-image: url('../images/header.png');
    background-size: cover;
    background-position: center;
    height: 230px; 
    position: relative;   
}

.home-content {
    padding: 60px 0px;
}

.home-title {
    text-align: center;
    margin-bottom: 20px;
}

.description-home {
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 250px;
}

.btn-buy {
    display: flex;
    justify-content: center;
    background-color: #FFDDD2;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-buy:hover {
    color: #fff;
    box-shadow: inset 0 5px 5px #dbbcb2;
}

/* Imatges roba */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
}

.photos-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sticker-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.skirt-img {
    position: relative;
    width: 130px;
    height: 130px;
    object-fit: cover;
    bottom: 50px;
    left: 65%; 
    transform: translateX(-50%) rotate(-20deg) ; 
}

.jeans-img {
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: contain;
    bottom: 25px;
    transform: translateX(-50%); 
}

.shoes-img {
    position: relative;
    width: 110px;
    height: 110px;
    object-fit: cover;
    bottom: 63px;
    left: -8%; 
    transform: translateX(-50%); 
}

.hoodie-img {
    position: relative;
    width: 230px;
    height: 230px;
    object-fit: cover;
    left: 78%; 
    transform: translateX(-50%) rotate(20deg); 
}

.sweatshirt-img {
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: cover;
    bottom: 20px;
    left: 23%; 
    transform: translateX(-50%); 
}

.totebag-img {
    position: relative;
    width: 110px;
    height: 110px;
    object-fit: cover;
    bottom: 60px;
    left: 79%; 
    transform: translateX(-50%) rotate(20deg); 
}

.hat-img {
    position: relative;
    width: 110px;
    height: 110px;
    object-fit: cover;
    bottom: 65px;
    left: 53%; 
    transform: translateX(-50%); 
}

.flowers-img {
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
    bottom: -70px;
    left: 93%; 
}

@keyframes rotate-right {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotate-left {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.skirt-img, .jeans-img, .shoes-img, .totebag-img {
    animation: rotate-right 2s infinite linear;
}

.hoodie-img, .sweatshirt-img, .hat-img {
    animation: rotate-left 2s infinite linear;
}

/* Footer */

.footer-content {
    background-color: #d5bdaf;
    color: #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section ul {
    list-style: none;
    font-size: 13px;
    padding: 0;
    margin-right: 20px;
}

.footer-section li:hover {
    transform: scale(0.8);
    transition: 0.7s;
}

.footer-section ul a {
    color: #333;
    text-decoration: none;
}

.footer-section .contact-form input,
.footer-section .contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F7EFE2;
    border: none;
    border-radius: 5px;
}

.footer-section .contact-form button {
    width: 100%;
    background-color: #FFDDD2;
    color: #333;
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.footer-bottom {
    text-align: center;
    background-color: #edede9;
    font-size: small;
}

.footer-newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 70%;
    text-align: justify;
}

.email-input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    background-color: #F7EFE2;
    border: none;
    border-radius: 5px;
}

.btn-subscribe{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
/* Socials */

.socials {
    display: flex;
    margin-top: 20px;
    font-size: 17px;
}

.socials a {
    color: #333;
    margin-right: 10px;
}

/* Slider */

/* Slider */

.sliding-container {
    display: flex;
    overflow: hidden;
    animation: slide 80s linear infinite;
    height: 30px;
    align-items: center;
    padding: 0 20px;
    width: 90vw;
}

.sliding-text {
    display: flex;
    border: 2px solid #333;
    overflow: hidden;
    margin-right: 50px; 
    align-items: center;
    width: 25%; 
}

.sliding-text i {
    margin-left: 7px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } 
}

/* Responsive code */

@media screen and (max-width: 768px) {
    .logo-navbar img {
        width: 40px; 
        height: 40px; 
    }

    .search-input {
        width: 150px;
    }

    .search-bar {
        margin-top: 5px;
    }

    .btn-navbar {
        padding: 10px 15px;
    }

    .btn-buy {
        padding: 10px 15px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-section {
        margin-right: 0px;
    }

    .footer-section ul {
        margin-right: 0px;
    }

    .footer-section .contact-form input,
    .footer-section .contact-form textarea {
        width: calc(100% - 10px);
    }

    .footer-section .contact-form button {
        padding: 10px 0;
    }

    .footer-newsletter {
        width: 100%;
    }

    .email-input {
        width: 70%;
    }

    .socials {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .search-input {
        width: 100px;
    }

    .search-bar {
        margin-top: 5px;
    }

    .btn-navbar {
        padding: 10px 15px;
    }

    .btn-buy {
        padding: 10px 15px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-section {
        margin-right: 0px;
    }

    .footer-section ul {
        margin-right: 0px;
    }

    .footer-section .contact-form input,
    .footer-section .contact-form textarea {
        width: calc(100% - 10px);
    }

    .footer-section .contact-form button {
        padding: 10px 0;
    }

    .footer-newsletter {
        width: 100%;
    }

    .email-input {
        width: 70%;
    }

    .socials {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .search-input {
        width: 80px;
    }

    .search-bar {
        margin-top: 5px;
    }

    .btn-navbar {
        padding: 10px 15px;
    }

    .btn-buy {
        padding: 10px 15px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-section {
        margin-right: 0px;
    }

    .footer-section ul {
        margin-right: 0px;
    }

    .footer-section .contact-form input,
    .footer-section .contact-form textarea {
        width: calc(100% - 10px);
    }

    .footer-section .contact-form button {
        padding: 10px 0;
    }

    .footer-newsletter {
        width: 100%;
    }

    .email-input {
        width: 70%;
    }

    .socials {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .search-input {
        width: 60px;
    }

    .search-bar {
        margin-top: 5px;
    }

    .btn-navbar {
        padding: 10px 15px;
    }

    .btn-buy {
        padding: 10px 15px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-section {
        margin-right: 0px;
    }

    .footer-section ul {
        margin-right: 0px;
    }

    .footer-section .contact-form input,
    .footer-section .contact-form textarea {
        width: calc(100% - 10px);
    }

    .footer-section .contact-form button {
        padding: 10px 0;
    }

    .footer-newsletter {
        width: 100%;
    }

    .email-input {
        width: 70%;
    }

    .socials {
        font-size: 15px;
    }
}

